<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            饼状图
                        </div>
                    </div>
                    <div class="panel-body">
                        <div echarts="vm.formData.option1" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            柱状图
                        </div>
                    </div>
                    <div class="panel-body">
                        <div echarts="vm.formData.option2" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>